<!--Bios Start-->
              <center><table id="biosTable1" class="biosTable">
                 <tr id="bioRow1" class="bioRow">
                    <td id="bioCell1_1" class="bioPhotoCell"><center>
                       <p class="bioName"><font class="nameFont">Nick Verhage, </font><font class="positionFont">CEO</font></p>
                       <img class="bioPic" src="./images/bios/PlaceholderImage.png">
                    </center></td>
                    <td id="bioCell1_2" class="bioInfoCell">
                       <p class="bioInfo"></p>
                    </td>
                 </tr>
              </table>
              <table id="biosTable2" class="biosTable">
                 <tr id="bioRow2" class="bioRow">
                    <td id="bioCell2_1" class="bioInfoCell">
                       <p class="bioInfo"></p>
                    </td>
                    <td id="bioCell2_2" class="bioPhotoCell"><center>
                       <p class="bioName"><font class="nameFont">Michael Wong, </font><font class="positionFont">CEO</font></p>
                       <img class="bioPic" src="./images/bios/PlaceholderImage.png">
                    </center></td>
                 </tr>
              </table>
              <table id="biosTable3" class="biosTable">
                 <tr id="bioRow3" class="bioRow">
                    <td id="bioCell3_1" class="bioPhotoCell"><center>
                       <p class="bioName"><font class="nameFont">Clay Jacobs, </font><font class="positionFont">CTO, Site Admin</font></p>
                       <img class="bioPic" src="./images/bios/Clay.jpg">
                    </center></td>
                    <td id="bioCell3_2" class="bioInfoCell">
                       <p class="bioInfo">I am a computer science major at Cal Poly San Luis Obispo.
                       I have experience working on web apps for several web startups in the Bay Area.
                       I've previously developed my own iPhone app which can be found on the App Store <a href="https://itunes.apple.com/bm/app/albums-quiz/id846465794?mt=8">here</a>.
                       In my spare time, I enjoy hiking, traveling, watching movies, & playing video games.<br>
                       <a href="https://www.linkedin.com/in/clay-jacobs-44696544">See my resume</a></p>
                    </td>
                 </tr>
              </table>
              <table id="biosTable4" class="biosTable">
                 <tr id="bioRow4" class="bioRow">
                    <td id="bioCell4_1" class="bioInfoCell">
                       <p class="bioInfo"></p>
                    </td>
                    <td id="bioCell4_2" class="bioPhotoCell"><center>
                       <p class="bioName"><font class="nameFont">Kiley Becker, </font><font class="positionFont">CFO</font></p>
                       <img class="bioPic" src="./images/bios/PlaceholderImage.png">
                    </center></td>
                 </tr>
              </table><center>
<!--Bios End-->